<div class="container">
  <!--indexからコピペ-->
  <div class="starter-template">
    <h1>アシスタント編集</h1>
  </div>

   <!-- エラーメッセージを表示 -->
  <% if flash[:alert] %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    </div>
  <% end %>

  <!--ここから「入力フォーム」-->
  <%= render 'form', {template: @template}%>

</div>