<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>すべてのアシスタント</h2>
      <div class="card-deck">
        <% @templates.each do |template| %>
          <div class="col-md-3">
            <div class="card">
              <%= image_tag 'note_image', :size =>'150x150', :class => 'card-img-top' %>
              <div class="card-body">
                <h5 class="card-title">
                  <%= link_to template.title ,templates_path(template.id), data: {"turbolinks" => false}%>
                </h5>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </br>
    <h2>マイアシスタント</h2>
    <div class="card-deck">
      <% @my_templates.each do |template| %>
        <div class="col-md-3">
          <div class="card">
            <%= image_tag 'note_image', :size =>'150x150', :class => 'card-img-top' %>
            <div class="card-body">
              <h5 class="card-title">
                <%= link_to template.title ,templates_path(template.id), data: {"turbolinks" => false}%>
              </h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
</div>