<% if @template.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= @template.errors.count %>つのエラーが見つかりました。
    </div>
    <ul>
    <% @template.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>