<%= javascript_pack_tag 'hello_vue' %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="card mb-md-3">
        <%= image_tag 'kitten.jpg', :size =>'200x200', :class => 'card-img' %>
      </div>
      <div class="card mb-md-3">
        <div class="card-body">
          <%= @template.title %>
        </div>
      </div>
      <div class="card" style="height: 300px">
        <div class="card-body">
          <%= @template.topic %>
        </div>
      </div>
    </div>
    <main role="main" class="col-md-8">
      <div id="app"></div>
    </main>
  </div>
</div>