/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "simplemde/dist/simplemde.min";

#hakohugu {
    font-size: .875rem;
    padding-top:80px;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.navbar-brand{
    font-size: 2rem;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
}
li.nav-item.active {
    padding-right: 3rem;
}
.circle{
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: skyblue;
  margin-bottom: 5px;
  margin-right: 15px;
}

.nav-link {
    display: block;
    padding: 0.2rem 1rem;
}

span.navbar-text.h3{
	margin-right: 25px;
}

.card{
    width: 100%;
	margin: 10px auto;
	max-width: 200px;
}

#conversation{
    height: 370px;
    background-color: #CCFFFF;
    overflow: scroll;
    border-radius: 20px 20px 0px 0px;
}

#transmissionMessage{
     height: 40px;
}
.border {
    border: 2px solid #d9dce0 ;
}

#inputText{
    height: 100px;
}

.question-balloon {
 	position: relative;
	display: inline-block;
 	margin: 1.5em 0 1.5em 15px;
	padding: 7px 10px;
	min-width: 120px;
 	max-width: 100%;
 	color: #555;
	font-size: 16px;
	background: #e0edff;
}

.question-balloon:before{
	content: "";
	position: absolute;
	top: 50%;
	left: -30px;
 	margin-top: -15px;
	border: 15px solid transparent;
	border-right: 15px solid #e0edff;
}

.question-balloon p {
	margin: 0;
	padding: 0;
	white-space: pre-line;
}

.answer-balloon {
 	position: relative;
 	margin: 1.5em 15px 1.5em 0;
	padding: 7px 10px;
	min-width: 120px;
 	max-width: 100%;
 	color: #555;
	font-size: 16px;
	background: #e0edff;
}

.answer-balloon:before{
	content: "";
	position: absolute;
	top: 50%;
	left: 100%;
 	margin-top: -15px;
	border: 15px solid transparent;
	border-left: 15px solid #e0edff;
}

.answer-balloon p {
	margin: 0;
	padding: 0;
}

.CodeMirror, .CodeMirror-scroll {
	min-height: 443px;
}
