// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.back{ background-color: #ABD8DA;}
.container-fulid{
	width:100%
}
.gedan_block{text-align: center;}
.jodan_block{
	text-align: center;
	background-color: #009FA4;
	width : 100%;
	}
.step{
	width : 80%;
	height:auto
}
.title{
	width : 25%;
	height:auto
}
.hugu{
	position: absolute;
	left:26%;
	width:10%;
	height:auto
}